@font-face {
  font-family: 'Circular Std';
  src: url(../assets/fonts/circular/CircularStd-BoldItalic.woff2) format('woff2'), url(../assets/fonts/circular/CircularStd-BoldItalic.woff) format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std';
  src: url(../assets/fonts/circular/CircularStd-Medium.woff2) format('woff2'), url(../assets/fonts/circular/CircularStd-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url(../assets/fonts/circular/CircularStd-BookItalic.woff2) format('woff2'), url(../assets/fonts/circular/CircularStd-BookItalic.woff) format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Circular Std';
  src: url(../assets/fonts/circular/CircularStd-Book.woff2) format('woff2'), url(../assets/fonts/circular/CircularStd-Book.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url(../assets/fonts/circular/CircularStd-Bold.woff2) format('woff2'), url(../assets/fonts/circular/CircularStd-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'FreightSans Pro';
  src: url(../assets/fonts/freight/FreightSansProBook-Regular.woff2) format('woff2'), url(../assets/fonts/freight/FreightSansProBook-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FreightSans Pro';
  src: url(../assets/fonts/freight/FreightSansProMedium-Regular.woff2) format('woff2'), url(../assets/fonts/freight/FreightSansProMedium-Regular.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FreightSans Pro';
  src: url(../assets/fonts/freight/FreightSansProSemibold-Regular.woff2) format('woff2'), url(../assets/fonts/freight/FreightSansProSemibold-Regular.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}
