@import 'normalize';
@import 'reset';
@import 'fonts';
@import 'vars';
@import 'messages';

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

:focus {
  outline: .25rem dotted var(--black);
  outline-offset: .5rem;
}

body {
  font-size: 2rem;
  background-color: white;
  font-family: 'Circular Std', Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.hide {
  display: none;
}

.skip-link {
  position: fixed;
  top: -30rem;
  left: 0;
  right: 0;
  z-index: 20;
  background: var(--blue);
  color: white;
  padding: 2rem;
  text-align: center;
  font-weight: bold;
  transition: top .1s linear;
}

.skip-link:focus {
  outline: none;
  top: 0;
}

/* input radio */

input[type=radio], input[type=checkbox] {
  opacity: 0;
  position: absolute;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  padding-left: 6rem;
}

.streak-amount span, .total-amount span {
  font-variant-numeric: tabular-nums;
}

.header-title-link {
  display: flex;
  flex-direction: column;
  width: 9.5rem;
  line-height: .7;
  font-size: 2.2rem;
}

.header-title-link span:first-child {
  text-align: right;
}

.header-nav {
  display: flex;
  background-color: var(--green);
}

.header-nav-ul {
  background-color: white;
  border-bottom-right-radius: 4rem;
  padding: 3rem;
  font-family: 'FreightSans Pro', Arial, Helvetica, sans-serif;
  display: flex;
  width: 45rem;
  justify-content: space-between;
}

.header-nav-item-link {
  display: flex;
  align-items: center;
}

.header-nav-item-link-icon {
  margin-right: 2rem;
}

.header-nav-item-link:hover .header-nav-item-link-icon-group {
  fill: var(--black);
}

.main-green-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  color: white;
  width: 20rem;
}

.main-green-button-svg {
  margin-right: 1rem;
}

/* home */

.home {
  padding: 0 10rem;
}

.home-title {
  font-size: 10rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding: 5rem 10rem;

  & span {
    margin-top: 5vh;
  }
}

.home-title-reflect {
  align-self: flex-end;
}

.home-section {
  width: 45rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: normal;
  margin-top: 10rem;

  & mark {
    background-color: inherit;
    font-weight: 600;
  }

  & .home-section-subtitle {
    background-color: inherit;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 5rem;
    margin-left: 15rem;
  }

  & h3 {
    font-size: 8rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
  }
}

.section-capture {

  & h3 {
    color: var(--purple);
  }
}

.section-reflect {

  & h3 {
    color: var(--orange);
  }
}

.section-shape {

  & .home-section-subtitle {
    margin-left: 0;
  }

  & h3 {
    color: var(--blue);
  }
}

.section-cta {
  margin: 15rem 0;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  & p {
    font-size: 6rem;
    font-weight: bold;
  }
}

.register-button {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: lowercase;
  background-color: var(--purple);
  width: 20rem;
  height: 6rem;
  border-radius: 1rem;
}

footer {
  background-color: var(--light-grey);
  height: 12.5rem;
  padding: 0 10rem;
  display: flex;
  align-items: center;
}

/* login */

.nav-no-login {
  background-color: transparent;

  & ul {
    display: flex;
    align-items: center;
  }

  & a {
    text-transform: lowercase;
    font-family: 'Circular Std', Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
}

.form-title {
  text-transform: lowercase;
  text-align: center;
  font-size: 3.6rem;
  margin-top: 2rem;
  font-weight: bold;
}

.login-register {
  text-transform: lowercase;
  text-align: center;
  margin-top: 2rem;

  & :hover {
    border-bottom: .1rem solid var(--black);
  }

  & mark {
    color: var(--purple);
    background-color: inherit;
  }
}

.login-form, .register-form {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  max-width: 50rem;
  padding: 1fr;

  & label {
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
  }

  & span {
    text-transform: lowercase;
    text-align: center;
  }

  & input {
    text-align: center;
  }

  & .submit {
    background-color: var(--green);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4rem 8rem;
  }
}

.register-form .submit {
  background-color: var(--black);
}

.register-subtitle {
  text-align: center;
  margin-top: 2rem;
}

.overal-goals {
  display: flex;
  flex-flow: row wrap;

  & .submit {
    background-color: var(--green);
  }
}

.register-goal-radio:checked + .info-form-goals-option, .register-goal-radio:hover + .info-form-goals-option {
  background-color: var(--black);
  color: var(--white);
}

.overal-goals .info-form-goals-option {
  padding: 2rem;
  max-width: 20rem;
}

/* overview */

.main-nav-ul {
  display: flex;
  justify-content: space-around;
}

.main-nav-item {
  background-color: var(--light-grey);
  text-align: center;
  width: 50%;
  padding: 2.5rem;
}

.main-nav-item-active {
  background-color: white;
}

.main-nav-item-active .main-nav-item-link {
  padding-bottom: 1rem;
  border-bottom: .25rem solid var(--black);
}

.main-nav-item-month:not(.main-nav-item-active),
.active-category-statistics .main-nav-item-achievements,
.active-category-info .main-nav-item-customize,
.active-category-achievements .main-nav-item-goals,
.active-category-customize .main-nav-item-links {
  border-bottom-left-radius: 4rem;
}

.main-nav-item-day:not(.main-nav-item-active),
.active-category-goals .main-nav-item-achievements,
.active-category-links .main-nav-item-customize,
.active-category-achievements .main-nav-item-stats,
.active-category-customize .main-nav-item-info {
  border-bottom-right-radius: 4rem;
}

.test-img {
  width: 100%;
  max-width: 45rem;
  height: auto;
}

.main-overview-day {
  min-height: 65rem;
  display: grid;
  grid-template: 1fr 3fr / 1fr 3fr 3fr 1fr;
  grid-column-gap: 5rem;
  grid-template-areas:
    'prev img info next'
    'prev img info next';
}

.main-overview-day-previous {
  grid-area: prev;
  align-self: center;
  justify-self: center;
}

.main-overview-day-next {
  grid-area: next;
  align-self: center;
  justify-self: center;
}

.main-overview-day-collage {
  grid-area: img;
}

.main-overview-day-error {
  text-align: center;
  grid-column: 2 / 4;
  align-self: center;
  grid-row: 1 / 3;
}

.main-overview-day-info {
  padding-top: 5rem;
  grid-area: info;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    'info'
    'habits';
}

.day-info-date {
  grid-area: info;
  align-self: center;
}

.day-info-date, .main-overview-month-date {
  font-family: 'FreightSans Pro', Arial, Helvetica, sans-serif;
}

.day-info-date-span, .month-date-span {
  font-size: 2.2rem;
  font-weight: bold;
  display: block;
}

.day-info-habits {
  padding-top: 2.5rem;
  grid-area: habits;
}

.day-info-mood, .day-info-share {
  grid-area: info;
}

.day-info-share {
  justify-self: flex-end;
  align-self: center;
  margin-right: 10rem;
}

.day-info-mood {
  justify-self: flex-end;
}

.day-info-mood-title, .day-info-habits-title {
  display: none;
}

.day-collage-habit-icon:nth-child(2) {
  transform: translateX(18rem);
}

.day-collage-habit-icon:nth-child(3) {
  transform: translateY(18rem);
}

.day-collage-habit-icon:nth-child(4) {
  transform: translate(18rem, 18rem);
}

.day-collage-habit-icon:nth-child(5) {
  transform: translateY(36rem);
}


/* overview add */

.main-overview-add {
  position: relative;
}

.add-day-form {
  display: grid;
  grid-template: 1fr 1fr / 1fr 3fr 3fr 1fr;
  grid-gap: 2.5rem;
  grid-template-areas:
    '. mood habits .'
    '. about habits .';
}

.add-day-form-submit {
  background-color: var(--green);
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  align-self: flex-end;
  text-align: center;
  padding: 2.5rem 7rem;
  border-bottom-left-radius: 4rem;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.add-day-form-submit-button {
  display: none;
}

.add-day-form-field-mood {
  grid-area: mood;
}

.add-day-form-field-about {
  grid-area: about;
}

.add-day-form-field-habits {
  grid-area: habits;
}

.add-day-form-field-textarea {
  resize: none;
  border: none;
  background-image: linear-gradient(white, white 3rem, var(--light-grey) 3rem, var(--light-grey) 3.1rem, white 3.1rem);
  background-size: 100% 3.1rem;
  line-height: 3.1rem;
  padding: .7rem;

  &:focus {
    outline: none;
  }
}

.add-day-form-field-label-great:hover, .add-day-form-field-label-bad:hover, .add-day-form-field-label-okay:hover {
  cursor: pointer;
}

.add-day-form-field-radio:focus + .add-day-form-field-label-great .great-circle,
.add-day-form-field-radio:checked + .add-day-form-field-label-great .great-circle {
  fill: var(--green);
}

.add-day-form-field-radio:focus + .add-day-form-field-label-okay .okay-circle,
.add-day-form-field-radio:checked + .add-day-form-field-label-okay .okay-circle {
  fill: var(--blue);
}

.add-day-form-field-radio:focus + .add-day-form-field-label-bad .bad-circle,
.add-day-form-field-radio:checked + .add-day-form-field-label-bad .bad-circle {
  fill: var(--red);
}

.add-day-form-field-radio:focus + .add-day-form-field-label-great .great-text,
.add-day-form-field-radio:checked + .add-day-form-field-label-great .great-text,
.add-day-form-field-radio:focus + .add-day-form-field-label-okay .okay-text,
.add-day-form-field-radio:checked + .add-day-form-field-label-okay .okay-text,
.add-day-form-field-radio:focus + .add-day-form-field-label-bad .bad-text,
.add-day-form-field-radio:checked + .add-day-form-field-label-bad .bad-text {
  fill: white;
}

.add-day-form-field-radio:focus + .add-day-form-field-label-great .great-smile,
.add-day-form-field-radio:checked + .add-day-form-field-label-great .great-smile,
.add-day-form-field-radio:focus + .add-day-form-field-label-okay .okay-smile,
.add-day-form-field-radio:checked + .add-day-form-field-label-okay .okay-smile,
.add-day-form-field-radio:focus + .add-day-form-field-label-bad .bad-smile,
.add-day-form-field-radio:checked + .add-day-form-field-label-bad .bad-smile {
  fill: white;
}

/* HABITS AND GOALS STYLING */

.day-info-habits-list-item,
.month-form-label,
.customize-habits-list-item,
.customize-goals-list-item,
.goals-in-progress-list-item,
.goals-completed-list-item {
  color: white;
  padding: 1rem 3rem;
  border-radius: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 6.5rem;
}

.customize-habits-list-item svg, .customize-goals-list-item svg {
  margin-right: 2.2rem;
}

.month-form-label:hover {
  cursor: pointer;
}

.goals-in-progress-list-item,
.goals-completed-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 13rem;
}

.customize-habits-list-item,
.customize-goals-list-item {
  display: flex;
  justify-content: space-between;
}

.day-info-habits-list-item:not(:last-child),
.month-form-label:not(:last-child),
.customize-habits-list-item:not(:last-child),
.customize-goals-list-item:not(:last-child),
.goals-in-progress-list-item,
.goals-completed-list-item {
  margin-bottom: 1rem;
}

.goals-in-progress-list-item-topwrap,
.goals-completed-list-item-topwrap {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.goals-in-progress-list-item-status,
.goals-completed-list-item-status {
  font-weight: normal;
}

.goals-in-progress-list-item-amount,
.goals-completed-list-item-amount {
  color: var(--black);
  opacity: .2;
}

.goals-in-progress-error,
.goals-completed-error {
  text-align: center;
  padding-top: 5rem;
}

.customize-habits-list-item-wrap,
.customize-goals-list-item-wrap {
  display: flex;
  align-items: center;
}

.day-info-habits-list-item-icon svg,
.customize-habits-list-item-icon svg,
.customize-goals-list-item-icon svg,
.month-habit-item-icon svg,
.month-habit-item-icon-white svg,
.goals-in-progress-list-item-topwrap svg,
.goals-completed-list-item-topwrap svg {
  width: 3rem;
  margin-right: 1.5rem;
}

.goals-progress-bar {
  animation: progressBar 1s 0s 1 ease-out forwards;
}

@keyframes progressBar {

  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* calendar */

.main-overview-month {
  margin-top: 12.5rem;
  display: grid;
  grid-template: min-content 1fr min-content / 1fr 35rem 3fr 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 2.5rem;
  grid-template-areas:
    '. nav habits .'
    '. calendar habits .'
    '. calendar info .';
}

.main-overview-month-previous {
  grid-area: nav;
  justify-self: flex-start;
}

.main-overview-month-next {
  grid-area: nav;
  justify-self: flex-end;
}

.main-overview-month-date {
  text-align: center;
  grid-area: nav;
  justify-self: center;
}

.main-overview-month-calendar {
  grid-area: calendar;
}

.month-calendar-row {
  height: 5rem;
}

.month-calendar-row-day {
  text-align: center;
  vertical-align: middle;
  border-radius: 1.2rem;
  width: 5rem;
  padding: -1rem;
}

.month-calendar-row-today {
  border: .25rem solid var(--black);
}

.main-overview-month-form {
  grid-area: habits;
  display: flex;
  flex-direction: column;
}

.month-form-label-red {
  color: var(--red);
  border: .25rem solid var(--red);
}

.month-form-submit {
  align-self: flex-end;
  border: .25rem solid var(--black);

  &:hover {
    cursor: pointer;
  }
}

.month-form-input-radio + .month-form-label-red .month-habit-item-icon-white,
.month-form-input-radio + .month-form-label-orange .month-habit-item-icon-white,
.month-form-input-radio + .month-form-label-green .month-habit-item-icon-white,
.month-form-input-radio + .month-form-label-blue .month-habit-item-icon-white,
.month-form-input-radio + .month-form-label-purple .month-habit-item-icon-white {
  display: none;
}

.month-form-input-radio:checked + .month-form-label-red {
  color: white;
  border: .25rem solid var(--red);
  background-color: var(--red);

  & .month-habit-item-icon-white {
    display: block;
  }

  & .month-habit-item-icon {
    display: none;
  }
}

.month-form-label-orange {
  color: var(--orange);
  border: .25rem solid var(--orange);
}

.month-form-input-radio:checked + .month-form-label-orange {
  color: white;
  border: .25rem solid var(--orange);
  background-color: var(--orange);

  & .month-habit-item-icon-white {
    display: block;
  }

  & .month-habit-item-icon {
    display: none;
  }
}

.month-form-label-green {
  color: var(--green);
  border: .25rem solid var(--green);
}

.month-form-input-radio:checked + .month-form-label-green {
  color: white;
  border: .25rem solid var(--green);
  background-color: var(--green);

  & .month-habit-item-icon-white {
    display: block;
  }

  & .month-habit-item-icon {
    display: none;
  }
}

.month-form-label-blue {
  color: var(--blue);
  border: .25rem solid var(--blue);
}

.month-form-input-radio:checked + .month-form-label-blue {
  color: white;
  border: .25rem solid var(--blue);
  background-color: var(--blue);

  & .month-habit-item-icon-white {
    display: block;
  }

  & .month-habit-item-icon {
    display: none;
  }
}

.month-form-label-purple {
  color: var(--purple);
  border: .25rem solid var(--purple);
}

.month-form-input-radio:checked + .month-form-label-purple {
  color: white;
  border: .25rem solid var(--purple);
  background-color: var(--purple);

  & .month-habit-item-icon-white {
    display: block;
  }

  & .month-habit-item-icon {
    display: none;
  }
}

.main-overview-month-info {
  grid-area: info;
}

/* progress stats */

.main-progress-statistics {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-areas:
    '. nav nav .'
    '. mood habits .';
}

.main-progress-statistics-nav {
  grid-area: nav;
}

.main-progress-statistics-mood {
  grid-area: mood;
}

.main-progress-statistics-habits {
  grid-area: habits;
}

.graph .labels.x-labels {
  text-anchor: middle;
}

.graph .labels.y-labels {
  text-anchor: end;
}

.graph {
  height: 40rem;
  width: 80rem;
}

.graph .grid {
  stroke: var(--light-grey);
  stroke-dasharray: 0;
  stroke-width: 1;
}

.data {
  fill: red;
  stroke-width: 1;
}

/* progress achievements */

.main-progress-achievements-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 15rem);
  grid-gap: 2.5rem;
  margin: 2.5rem 5vw;
  justify-content: center;
}

.achievements-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--light-grey);
  border-radius: 1.2rem;
}

.achievements-list-item-title, .achievements-list-item-desc {
  font-size: 1.8rem;
}

.achievements-list-item-title {
  font-weight: bold;
  padding-top: 15rem;
}

.achievements-list-item-desc {
  font-family: 'FreightSans Pro', Arial, Helvetica, sans-serif;
  padding: 1rem 2.5rem 2rem;
}

/* progress goals */

.main-progress-goals {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-areas:
    '. nav nav .'
    '. content content .';
}

.main-progress-goals-edit, .info-form-submit {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--black);
  color: white;
  text-align: center;
  padding: 4rem 8rem;
  border-top-left-radius: 4rem;
  display: flex;
  flex-direction: row-reverse;
}

.main-progress-goals-edit svg {
  margin-right: 1rem;
}

.main-progress-goals-nav {
  grid-area: nav;
}

.main-progress-goals-in-progress, .main-progress-goals-completed {
  grid-area: content;
  width: 50%;
  justify-self: center;
}

.goals-nav-list, .statistics-nav-list {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  padding: 2.5rem 0;
}

.goals-nav-list-item-link-active {
  border-bottom: .25rem solid var(--black);
}

/* profile info */

.main-profile-info-form {
  display: grid;
  grid-template: 2fr 2fr 2fr / 1fr 3fr 3fr 1fr;
  grid-row-gap: 4.5rem;
  grid-column-gap: 2.5rem;
  grid-template-areas:
    '. email birthday .'
    '. username password .'
    '. goals goals .';
  margin-top: 2.5rem;
}

.info-form-email {
  grid-area: email;
}

.info-form-birthday {
  grid-area: birthday;
}

.info-form-username {
  grid-area: username;
}

.info-form-password {
  grid-area: password;
}

.info-form-goals {
  grid-area: goals;
}

.info-form-submit {
  grid-area: submit;
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;

  & span {
    margin: 0 2rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.info-form-submit-button {
  display: none;
}

.info-form-input, .add-habit-form-input-text {
  height: 5rem;
  font-family: 'FreightSans Pro', Arial, Helvetica, sans-serif;
  border: none;
  border-bottom: .15rem solid var(--black);
}

.info-form-label-text {
  color: var(--grey);
}

.info-form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info-form-goals-options, .add-habit-form-field-all {
  display: flex;
  flex-wrap: wrap;
}

.info-form-goals-option, .add-habit-form-label {
  font-size: 1.8rem;
  border: .15rem solid var(--black);
  border-radius: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;

  &:hover {
    cursor: pointer;
  }
}

.info-form-goals-radio:focus + .info-form-goals-option,
.info-form-goals-radio:checked + .info-form-goals-option,
.add-habit-form-radio:focus + .add-habit-form-label,
.add-habit-form-radio:checked + .add-habit-form-label {
  background-color: var(--black);
  color: white;
}

/* profile customize */

.main-profile-customize {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-profile-customize-habits, .main-profile-customize-goals {
  width: 100%;
  min-width: 20rem;
  max-width: 50rem;
  margin: 0 2.5rem;
}

.customize-habits-title, .customize-goals-title, .add-habit-form-field-legend, .add-day-form-field-legend, .statistics-mood-title, .statistics-habits-title {
  margin: 2.5rem 0;
  color: var(--light-grey);
  font-size: 5.6rem;
  text-transform: lowercase;
  font-weight: bold;
}

.customize-habits-title, .customize-goals-title {
  text-align: center;
}

/* profile customize add habit */

.main-profile-add-habit, .main-profile-add-goal {
  position: relative;
}

.main-profile-add-habit-title, .main-profile-add-goal-title, .main-overview-add-title {
  text-align: center;
  font-size: 3.6rem;
  font-weight: bold;
}

.main-profile-add-habit-subtitle, .main-profile-add-goal-subtitle, .main-overview-add-subtitle {
  font-family: 'FreightSans Pro', Arial, Helvetica, sans-serif;
  text-align: center;
  width: 20rem;
  margin: 0 auto;
  padding: 2.5rem 0;
}

.main-profile-add-habit-back, .main-profile-add-goal-back, .main-overview-add-back {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--light-grey);
  text-align: center;
  padding: 2.5rem 5rem;
  border-bottom-right-radius: 4rem;
}

.main-profile-add-habit-error {
  text-align: center;
}

.main-profile-add-habit-form {
  padding-top: 2.5rem;
  display: grid;
  grid-template: repeat(2, min-content) / 1fr 3fr 3fr 1fr;
  grid-gap: 2.5rem;
  grid-template-areas:
    '. suggested write .'
    '. all all submit';
}

.add-habit-suggested {
  grid-area: suggested;
}

.add-habit-write {
  grid-area: write;
}

.add-habit-all {
  grid-area: all;
}

.add-habit-form-submit, .add-goal-form-submit {
  grid-area: submit;
  align-self: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--black);
  color: white;
  text-align: center;
  padding: 2.5rem 7rem;
  border-bottom-left-radius: 4rem;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.add-habit-form-submit-button {
  display: none;
}

.add-goal-form-submit-button {
  display: none;
}

.main-profile-add-habit-form-shape {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 15rem;
}

/* customize add goals */

.main-profile-add-goal-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5rem;
}

.add-goal-type a {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: .25rem solid var(--black);
  border-radius: 1.2rem;
  padding: 25rem 2.5rem 2.5rem;
  width: 30rem;
  margin: 2.5rem;
  text-align: center;
}

.add-goal-type-title {
  font-size: 2.2rem;
  font-weight: bold;
}

.add-goal-type-subtitle {
  padding-top: 1rem;
  font-family: 'FreightSans Pro', Arial, Helvetica, sans-serif;
}

.add-goal-type-subtitle-abbr {
  color: var(--light-grey);
}

.add-goal-type-subtitle-habitname, strong {
  font-weight: 600;
}

.main-profile-add-goal-text {
  font-size: 3.6rem;
  text-align: center;
  padding: 5rem 0;
}

.add-goal-form-field-legend {
  display: none;
}

.add-goal-repetitive-day-label, .add-goal-repetitive-month-label, .add-goal-total-month-label {
  padding: 1rem;
  border-radius: 1.2rem;
  border: .25rem solid var(--black);
  margin-right: 1rem;
  margin-bottom: 1rem;

  &:hover {
    cursor: pointer;
  }
}

.add-goal-repetitive-day-radio:focus + .add-goal-repetitive-day-label,
.add-goal-repetitive-day-radio:checked + .add-goal-repetitive-day-label {
  background-color: var(--red);
  color: white;
  border: .25rem solid var(--red);
}

.add-goal-repetitive-month-radio:focus + .add-goal-repetitive-month-label,
.add-goal-repetitive-month-radio:checked + .add-goal-repetitive-month-label,
.add-goal-total-month-radio:focus + .add-goal-total-month-label,
.add-goal-total-month-radio:checked + .add-goal-total-month-label {
  background-color: var(--orange);
  color: white;
  border: .25rem solid var(--orange);
}

.add-goal-form-field-month {
  margin-top: 5rem;
}

.add-goal-form-field-stepper {
  display: flex;
  justify-content: center;
}

.repetitive-day, .streak-amount, .total-amount {
  color: var(--red);
}

.repetitive-month, .total-month {
  color: var(--orange);
}


/* profile links */

.main-profile-links-sites {
  display: grid;
  grid-template: repeat(2, min-content) / 1fr 3fr 3fr 1fr;
  grid-gap: 2.5rem;
  grid-template-areas:
    '. jac awel .'
    '. cgg tejo .';
  margin-bottom: 8rem;
  margin-top: 2.5rem;
}

.links-sites-article-arrow {
  margin-left: .5rem;
}

.links-sites-article-link {
  display: flex;
  align-items: center;

  &:hover .links-sites-article-arrow {
    transform: translate(.25rem, -.25rem);
  }
}

.site-jac {
  grid-area: jac;
}

.site-jac-title {
  color: var(--red);
}

.site-awel {
  grid-area: awel;
}

.site-awel-title {
  color: var(--orange);
}

.site-cgg {
  grid-area: cgg;
}

.site-cgg-title {
  color: var(--green);
}

.site-tejo {
  grid-area: tejo;
}

.site-tejo-title {
  color: var(--blue);
}

.site-jac, .site-awel, .site-cgg, .site-tejo {
  border-bottom: .2rem solid rgba(43, 43, 43, .2);
  padding: 4rem 2rem;
}

.site-jac-title, .site-awel-title, .site-cgg-title, .site-tejo-title {
  font-size: 2.2rem;
  font-weight: bold;
}

.links-sites-article-text {
  font-family: 'FreightSans Pro', Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  padding-top: 1rem;
  max-width: 40rem;
}

.main-profile-links-phone {
  display: grid;
  grid-template: repeat(2, min-content) / 1fr 1.5fr 1.5fr 3fr 1fr;
  grid-gap: 2.5rem;
  grid-template-areas:
    '. geweld awel zelfmoordlijn .'
    '. druglijn druglijn teleonthaal .';
}

.main-pofile-links-phone-article {
  display: flex;
  border: .15rem solid var(--black);
  border-radius: 1.2rem;
  padding: 1.5rem;
}

.phone-geweld {
  grid-area: geweld;
}

.phone-awel {
  grid-area: awel;
}

.phone-zelfmoordlijn {
  grid-area: zelfmoordlijn;
}

.phone-druglijn {
  grid-area: druglijn;
}

.phone-teleonthaal {
  grid-area: teleonthaal;
}

.links-phone-article-title, .links-phone-article-tel {
  font-size: 2.2rem;
  font-weight: 500;
}

.links-phone-article-tel {
  padding-left: 1rem;
  color: var(--grey);
  font-weight: 300;
}

/* responsive */

@media only screen and (max-width: 1000px) {

  .main-green-button {

    width: 10rem;

    & span {
      display: none;
    }
  }

  .main-progress-statistics {
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-areas:
      '. nav .'
      '. mood .'
      '. habits .';
  }
}

@media only screen and (max-width: 700px) {

  .header-title {
    display: none;
  }
  
  .header-nav {
    background-color: transparent;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100vw;
    font-size: 1.4rem;
    height: 7.5rem;

    & .header-nav-ul {
      width: 100vw;
      padding: 2rem;
      justify-content: space-around;
      background-color: var(--light-grey);
      border-bottom-right-radius: 0;
      border-top-right-radius: 4rem;
    }

    & a {
      flex-direction: column;
      align-items: center;
    }

    & svg {
      margin: 0 0 1rem 0;
    }
  }

  .nav-no-login {
    display: none;
  }

  .header-nav-item-icon {
    stroke-width: .15rem;
  }

  .login-form {
    padding: .2fr;
  }

  .main-green-button {
    display: none;
  }

  .customize-habits-title, .customize-goals-title {
    margin-bottom: -2rem;
    position: relative;
    z-index: -5000;
  }

  .customize-goals-list {
    margin-bottom: 10rem;
  }

  .customize-goals-list span, .customize-habits-list span { 
    font-size: 1.6rem;
  }

  .customize-habits-list-item-icon svg {
    width: 2rem;
    height: 2rem;
  }

  .info-form-submit {
    position: fixed;
    padding: 3.75rem 7.5rem 10rem;
  }

  .main-profile-info-form {
    display: grid;
    grid-template: repeat(5, 6rem) / .2fr 6fr .2fr;
    grid-row-gap: 3rem;
    grid-template-areas: '. email .' '. birthday .' '. username .' '. password .' '. goals .';
    margin-top: 25px;
    margin-top: 2.5rem;
    font-size: 1.6rem;

    & .info-form-label-text {
      font-weight: normal;
    }

    & .info-form-input {
      border-bottom: .1rem solid #2b2b2b;
    }
  }

  .info-form-goals-option {
    border: .1rem solid #2b2b2b;
    font-size: 1.4rem;
    font-weight: normal;
  }

  .info-form-goals-options {
    margin-top: 1rem;
  }

  .main-profile-links-sites {
    grid-template: repeat(4, min-content) / .2fr 6fr .2fr;
    grid-gap: .5rem;
    grid-template-areas:
      '. jac .'
      '. awel .'
      '. cgg .'
      '. tejo .';
    margin-bottom: 2rem;
    margin-top: 1rem;

    & article {
      border-width: .1rem;
      padding: 1.8rem;
    }

    & h3 {
      font-size: 1.8rem;
    } 

    & p {
      font-size: 1.6rem;
    }
  }

  .main-profile-links-phone {
    display: grid;
    grid-template: repeat(4, 4rem) / .2fr 3fr 3fr .2fr;
    grid-gap: 1rem;
    grid-template-areas:
      '. geweld awel .'
      '. druglijn druglijn .'
      '. zelfmoordlijn zelfmoordlijn .'
      '. teleonthaal teleonthaal .';

    & article {
      padding: 0 1rem;
      display: flex;
      align-items: center;
    }

    & .main-pofile-links-phone-article {
      border: .1rem solid var(--black);
    }

    & .links-phone-article-title {
      font-weight: normal;
      font-size: 1.6rem;
    }

    & .links-phone-article-tel {
      font-weight: normal;
      font-size: 1.6rem;
    }
  }
}
