@import 'normalize';
@import 'reset';
@import 'fonts';
@import 'vars';
@import 'messages';

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after { /* stylelint-disable-line */
  box-sizing: inherit;
}

:focus {
  outline: .25rem dotted var(--black);
  outline-offset: .5rem;
}

body {
  font-size: 2rem;
  background-color: white;
  font-family: 'Circular Std', Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.hide {
  display: none;
}

.error {
  color: var(--red);
}

.skip-link {
  position: fixed;
  top: -30rem;
  left: 0;
  right: 0;
  z-index: 20;
  background: var(--blue);
  color: white;
  padding: 2rem;
  text-align: center;
  font-weight: bold;
  transition: top .1s linear;
}

.skip-link:focus {
  outline: none;
  top: 0;
}

/* input radio */

input[type=radio], input[type=checkbox] {
  opacity: 0;
  position: absolute;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  padding-left: 6rem;
}

.streak-amount span, .total-amount span {
  font-variant-numeric: tabular-nums;
}

.header-title-link {
  display: flex;
  flex-direction: column;
  width: 9.5rem;
  line-height: .7;
  font-size: 2.2rem;
}

.header-title-link span:first-child {
  text-align: right;
}

.header-nav {
  display: flex;
  background-color: var(--green);
}

.header-nav-ul {
  background-color: white;
  border-bottom-right-radius: 4rem;
  padding: 3rem 5rem 3rem 3rem;
  font-family: 'FreightSans Pro', Arial, Helvetica, sans-serif;
  display: flex;
  width: 45rem;
  justify-content: space-between;
}

.header-nav-item-link {
  display: flex;
  align-items: center;
}

.header-nav-item-link-icon {
  margin-right: 2rem;
}

.header-nav-item-link:hover .header-nav-item-link-icon-group {
  fill: var(--black);
}

.main-green-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
  color: white;
  width: 20rem;
}

.main-green-button-svg {
  margin-right: 1rem;
}

/* home */

@media only screen and (max-width: 700px) {

  .home-image-desktop {
    display: none;
  }
}

@media only screen and (min-width: 700px) {

  .home-image-mobile {
    display: none;
  }
}

.home-umberella {
  transform-origin: 85rem 38rem;
  animation: umberella 1.8s 0s infinite ease-in-out alternate;
}

.home-image-wrap {
  position: absolute;
  z-index: -1;
}

.home-image {
  width: 100vw;
  height: 100%;
}

@keyframes umberella {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(15deg);
  }
}

.home-content {
  padding-top: 40rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 5vw 40vw 40vw 5vw;
  grid-column-gap: 5vw;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.header-nosession {
  position: absolute;
  width: 100%;
}

.header-nav-ul-nosession {
  background-color: transparent;
}

.home-section {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: normal;

  & mark {
    background-color: inherit;
    font-weight: 600;
  }

  & .home-section-subtitle {
    background-color: inherit;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 5rem;
    margin-left: 15rem;
  }

  & h3 {
    font-size: 8rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
  }
}

.section-capture {
  grid-row: 2;
  grid-column: 2;

  & h3 {
    color: var(--purple);
  }
}

.section-reflect {
  grid-row: 3;
  grid-column: 3;

  & h3 {
    color: var(--orange);
  }
}

.section-shape {
  grid-row: 4;
  grid-column: 2;

  & .home-section-subtitle {
    margin-left: 0;
  }

  & h3 {
    color: var(--blue);
  }
}

.section-cta {
  grid-column: 2 / 4;
  grid-row: 5;
  margin: 15rem 0;
  height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  & p {
    font-size: 6rem;
    font-weight: bold;
  }
}

.register-button {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: lowercase;
  background-color: var(--purple);
  width: 20rem;
  height: 6rem;
  border-radius: 1rem;
}

footer {
  background-color: var(--light-grey);
  height: 12.5rem;
  padding: 0 10rem;
  display: flex;
  align-items: center;
}

/* login */

.landing-back {
  display: none;
}

.register-back {
  margin-top: 10rem;
}

.nav-no-login {
  background-color: transparent;

  & ul {
    display: flex;
    align-items: center;
  }

  & a {
    text-transform: lowercase;
    font-family: 'Circular Std', Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
}

.form-title {
  text-transform: lowercase;
  text-align: center;
  font-size: 3.6rem;
  padding-top: 15rem;
  font-weight: bold;
}

.login-register {
  text-transform: lowercase;
  text-align: center;
  margin-top: 2rem;

  & :hover {
    border-bottom: .1rem solid var(--black);
  }

  & mark {
    color: var(--purple);
    background-color: inherit;
  }
}

.login-form, .register-form {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  max-width: 50rem;
  padding: 1fr;

  & label {
    display: flex;
    flex-direction: column;
    padding: 4rem 2rem;
  }

  & span {
    text-transform: lowercase;
    text-align: center;
  }

  & input {
    text-align: center;
  }

  & .submit {
    background-color: var(--green);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4rem 8rem;
  }
}

.register-form .submit {
  background-color: var(--black);
}

.register-subtitle {
  text-align: center;
  margin-top: 2rem;
}

.overal-goals {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  & .submit {
    background-color: var(--green);
  }
}

.overal-goals .info-form-goals-option {
  max-width: 20rem;
  padding: 1.5rem 2rem;
}

.register-goal-radio:checked + .info-form-goals-option, .register-goal-radio:hover + .info-form-goals-option {
  background-color: var(--black);
  color: var(--white);
}

/* overview */

.main-nav-ul {
  display: flex;
  justify-content: space-around;
}

.main-nav-item {
  background-color: var(--light-grey);
  text-align: center;
  width: 50%;
  padding: 2.5rem;
}

.main-nav-item-active {
  background-color: white;
}

.main-nav-item-active .main-nav-item-link {
  padding-bottom: 1rem;
  background-image: url(../assets/img/Rectangle.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.main-nav-item-month:not(.main-nav-item-active),
.active-category-statistics .main-nav-item-achievements,
.active-category-info .main-nav-item-customize,
.active-category-achievements .main-nav-item-goals,
.active-category-customize .main-nav-item-links {
  border-bottom-left-radius: 4rem;
}

.main-nav-item-day:not(.main-nav-item-active),
.active-category-goals .main-nav-item-achievements,
.active-category-links .main-nav-item-customize,
.active-category-achievements .main-nav-item-stats,
.active-category-customize .main-nav-item-info {
  border-bottom-right-radius: 4rem;
}

.test-img {
  width: 100%;
  max-width: 45rem;
  height: auto;
}

.main-overview-day {
  min-height: 65rem;
  display: grid;
  grid-template: 1fr 3fr / 1fr 3fr 3fr 1fr;
  grid-column-gap: 5rem;
  grid-template-areas:
    'prev img info next'
    'prev img info next';
}

.main-overview-day-open-modal, .main-overview-day-date-mobile, .main-overview-day-close-modal {
  display: none;
}

.main-overview-day-previous {
  grid-area: prev;
  align-self: center;
  justify-self: center;
}

.main-overview-day-next {
  grid-area: next;
  align-self: center;
  justify-self: center;
}

.main-overview-day-collage {
  grid-area: img;
}

.main-overview-day-error {
  text-align: center;
  grid-column: 2 / 4;
  align-self: center;
  grid-row: 1 / 3;
}

.main-overview-day-info div {
  padding-top: 5rem;
  grid-area: info;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-areas:
    'info'
    'habits';
}

.day-info-date {
  grid-area: info;
  align-self: center;
}

.day-info-date, .main-overview-month-date {
  font-family: 'FreightSans Pro', Arial, Helvetica, sans-serif;
}

.day-info-date-span, .month-date-span {
  font-size: 2.2rem;
  font-weight: bold;
  display: block;
}

.day-info-habits {
  padding-top: 2.5rem;
  grid-area: habits;
}

.day-info-mood, .day-info-share {
  grid-area: info;
}

.day-info-share {
  justify-self: flex-end;
  align-self: center;
  margin-right: 10rem;
}

.day-info-mood {
  justify-self: flex-end;
}

.day-info-mood-title, .day-info-habits-title {
  display: none;
}

.day-collage-habit-icon:nth-child(2) {
  transform: translateX(18rem);
}

.day-collage-habit-icon:nth-child(3) {
  transform: translateY(18rem);
}

.day-collage-habit-icon:nth-child(4) {
  transform: translate(18rem, 18rem);
}

.day-collage-habit-icon:nth-child(5) {
  transform: translateY(36rem);
}

/* overview add */

.main-overview-add {
  position: relative;
}

.add-day-form {
  display: grid;
  grid-template: 1fr 2fr / 1fr 3fr 3fr 1fr;
  grid-gap: 2.5rem;
  grid-template-areas:
    '. mood habits .'
    '. about habits .';
}

.add-day-form-submit {
  color: white;
  position: absolute;
  top: -7rem;
  right: 0;
  align-self: flex-end;
  text-align: center;
  padding: 2rem 7rem;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.add-day-form-submit-button {
  display: none;
}

.add-day-form-field-mood {
  grid-area: mood;

  & svg {
    margin-right: 2rem;
  }
}

.add-day-form-field-about {
  grid-area: about;
}

.add-day-form-field-habits {
  grid-area: habits;
}

.add-day-form-field-textarea {
  resize: none;
  border: none;
  max-width: 90vw;
  background-color: transparent;
  background-image: linear-gradient(transparent, transparent 3rem, var(--light-grey) 3rem, var(--light-grey) 3.1rem, transparent 3.1rem);
  background-size: 100% 3.1rem;
  line-height: 3.1rem;
  padding: .7rem;

  &:focus {
    outline: none;
  }
}

.add-day-form-field-label-great:hover, .add-day-form-field-label-bad:hover, .add-day-form-field-label-okay:hover {
  cursor: pointer;
}

.add-day-form-field-radio:focus + .add-day-form-field-label-great .great-circle,
.add-day-form-field-radio:checked + .add-day-form-field-label-great .great-circle {
  fill: var(--green);
}

.add-day-form-field-radio:focus + .add-day-form-field-label-okay .okay-circle,
.add-day-form-field-radio:checked + .add-day-form-field-label-okay .okay-circle {
  fill: var(--blue);
}

.add-day-form-field-radio:focus + .add-day-form-field-label-bad .bad-circle,
.add-day-form-field-radio:checked + .add-day-form-field-label-bad .bad-circle {
  fill: var(--red);
}

.add-day-form-field-radio:focus + .add-day-form-field-label-great .great-text,
.add-day-form-field-radio:checked + .add-day-form-field-label-great .great-text,
.add-day-form-field-radio:focus + .add-day-form-field-label-okay .okay-text,
.add-day-form-field-radio:checked + .add-day-form-field-label-okay .okay-text,
.add-day-form-field-radio:focus + .add-day-form-field-label-bad .bad-text,
.add-day-form-field-radio:checked + .add-day-form-field-label-bad .bad-text {
  fill: white;
}

.add-day-form-field-radio:focus + .add-day-form-field-label-great .great-smile,
.add-day-form-field-radio:checked + .add-day-form-field-label-great .great-smile,
.add-day-form-field-radio:focus + .add-day-form-field-label-okay .okay-smile,
.add-day-form-field-radio:checked + .add-day-form-field-label-okay .okay-smile,
.add-day-form-field-radio:focus + .add-day-form-field-label-bad .bad-smile,
.add-day-form-field-radio:checked + .add-day-form-field-label-bad .bad-smile {
  fill: white;
}

.add-day-form-empty {

  & a {
    color: var(--green);
  }
}

/* HABITS AND GOALS STYLING */

.day-info-habits-list-item,
.month-form-label,
.customize-habits-list-item,
.customize-goals-list-item,
.goals-in-progress-list-item,
.goals-completed-list-item {
  color: white;
  padding: 1rem 3rem;
  border-radius: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 6.5rem;
}

.customize-habits-list-item svg, .customize-goals-list-item svg {
  margin-right: 2.2rem;
}

.month-form-label:hover {
  cursor: pointer;
}

.goals-in-progress-list-item,
.goals-completed-list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 13rem;
}

.customize-habits-list-item,
.customize-goals-list-item {
  display: flex;
  justify-content: space-between;
}

.day-info-habits-list-item:not(:last-child),
.month-form-label:not(:last-child),
.customize-habits-list-item:not(:last-child),
.customize-goals-list-item:not(:last-child),
.goals-in-progress-list-item,
.goals-completed-list-item {
  margin-bottom: 1rem;
}

.goals-in-progress-list-item-topwrap,
.goals-completed-list-item-topwrap {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.goals-in-progress-list-item-status,
.goals-completed-list-item-status {
  font-weight: normal;
}

.goals-in-progress-list-item-amount,
.goals-completed-list-item-amount {
  color: var(--black);
  opacity: .2;
}

.goals-in-progress-error,
.goals-completed-error {
  text-align: center;
  padding-top: 5rem;
}

.customize-habits-list-item-wrap,
.customize-goals-list-item-wrap {
  display: flex;
  align-items: center;
}

.day-info-habits-list-item-icon svg,
.customize-habits-list-item-icon svg,
.customize-goals-list-item-icon svg,
.month-habit-item-icon svg,
.month-habit-item-icon-white svg,
.goals-in-progress-list-item-topwrap svg,
.goals-completed-list-item-topwrap svg {
  width: 3rem;
  margin-right: 1.5rem;
}

.goals-progress-bar {
  animation: progressBar 1s 0s 1 ease-out forwards;
}

@keyframes progressBar {

  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* calendar */

.main-overview-month {
  margin-top: 12.5rem;
  display: grid;
  grid-template: min-content 1fr min-content / 1fr 35rem 3fr 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 2.5rem;
  grid-template-areas:
    '. nav habits .'
    '. calendar habits .'
    '. calendar info .';
}

.main-overview-month-previous {
  grid-area: nav;
  justify-self: flex-start;
}

.main-overview-month-next {
  grid-area: nav;
  justify-self: flex-end;
}

.main-overview-month-date {
  text-align: center;
  grid-area: nav;
  justify-self: center;
}

.main-overview-month-calendar {
  grid-area: calendar;
  border-collapse: separate;
}

.month-calendar-row {
  height: 5rem;
}

.month-calendar-row-day {
  text-align: center;
  vertical-align: middle;
  border-radius: 1.2rem;
  width: 5rem;
  padding: -1rem;
}

.month-calendar-row-today {
  border: .15rem solid #2b2b2b;
  border-radius: 5rem;
}

.main-overview-month-form {
  grid-area: habits;
  display: flex;
  flex-direction: column;
}

.month-form-label-red {
  color: var(--red);
  border: .15rem solid var(--red);
}

.month-form-submit {
  align-self: flex-end;
  border: .25rem solid var(--black);

  &:hover {
    cursor: pointer;
  }
}

.month-form-input-radio + .month-form-label-red .month-habit-item-icon-white,
.month-form-input-radio + .month-form-label-orange .month-habit-item-icon-white,
.month-form-input-radio + .month-form-label-green .month-habit-item-icon-white,
.month-form-input-radio + .month-form-label-blue .month-habit-item-icon-white,
.month-form-input-radio + .month-form-label-purple .month-habit-item-icon-white {
  display: none;
}

.month-form-input-radio:checked + .month-form-label-red {
  color: white;
  border: .15rem solid var(--red);
  background-color: var(--red);

  & .month-habit-item-icon-white {
    display: block;
  }

  & .month-habit-item-icon {
    display: none;
  }
}

.month-form-label-orange {
  color: var(--orange);
  border: .15rem solid var(--orange);
}

.month-form-input-radio:checked + .month-form-label-orange {
  color: white;
  border: .15rem solid var(--orange);
  background-color: var(--orange);

  & .month-habit-item-icon-white {
    display: block;
  }

  & .month-habit-item-icon {
    display: none;
  }
}

.month-form-label-green {
  color: var(--green);
  border: .15rem solid var(--green);
}

.month-form-input-radio:checked + .month-form-label-green {
  color: white;
  border: .15rem solid var(--green);
  background-color: var(--green);

  & .month-habit-item-icon-white {
    display: block;
  }

  & .month-habit-item-icon {
    display: none;
  }
}

.month-form-label-blue {
  color: var(--blue);
  border: .15rem solid var(--blue);
}

.month-form-input-radio:checked + .month-form-label-blue {
  color: white;
  border: .15rem solid var(--blue);
  background-color: var(--blue);

  & .month-habit-item-icon-white {
    display: block;
  }

  & .month-habit-item-icon {
    display: none;
  }
}

.month-form-label-purple {
  color: var(--purple);
  border: .15rem solid var(--purple);
}

.month-form-input-radio:checked + .month-form-label-purple {
  color: white;
  border: .15rem solid var(--purple);
  background-color: var(--purple);

  & .month-habit-item-icon-white {
    display: block;
  }

  & .month-habit-item-icon {
    display: none;
  }
}

.main-overview-month-info {
  grid-area: info;
  border-top: var(--light-grey) solid .2rem;
  padding-top: 2rem;
}

/* main overview modal */

.main-overview-modal {
  z-index: 1;
  width: 40vmax;
  height: 80vh;
  border: .25rem solid var(--black);
  border-radius: 1.2rem;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-overview-modal + .header {
  filter: blur(1rem);
  pointer-events: none;
}

.main-overview-modal + .header + .main {
  filter: blur(1rem);
  pointer-events: none;
}

.main-overview-modal-help-title, .main-overview-modal-achievement-title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
}

.main-overview-modal-achievement-subtitle {
  padding-top: 1.5rem;
  font-weight: 500;
}

.main-overview-modal-image {
  width: 40%;
  height: 40%;
  min-width: 22rem;
}

.main-overview-modal-help-text {
  font-family: 'FreightSans Pro', Arial, Helvetica, sans-serif;
  text-align: center;
  line-height: 1.5;
}

.main-overview-modal-achievement-text {
  text-align: center;

  & .achievement-text-bigtitle {
    font-size: 2.2rem;
    font-weight: bold;
  }

  & .achievement-text-smalltitle {
    padding-top: 1.5rem;
    font-family: 'FreightSans Pro', Arial, Helvetica, sans-serif;
  }

  &:first-child {
    padding-top: 2.5rem;
  }
}

.main-overview-modal-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-overview-modal-button-more {
  background-color: var(--black);
  color: var(--white);
  padding: 1.5rem 3rem;
  border-radius: 1.2rem;
}

.main-overview-modal-button-dismiss {
  margin-top: 2.5rem;
  padding-bottom: 1rem;
  background-image: url(../assets/img/Rectangle.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
}

/* progress stats */

.statistics-habits-title, .statistics-mood-title {
  text-align: center;
}

.main-progress-statistics {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-areas:
    '. nav nav .'
    '. mood habits .';
}

.main-progress-statistics-nav {
  grid-area: nav;
}

.main-progress-statistics-mood {
  grid-area: mood;
  display: flex;
  flex-direction: column;
  align-items: center;

  & text {
    font-weight: 300;
  }

  & .y-labels {
    font-size: 3rem;
    fill: var(--light-grey);
  }
}

.main-progress-statistics-habits {
  grid-area: habits;
  margin-left: 5rem;
}

.graph .labels.x-labels {
  text-anchor: middle;
}

.graph .labels.y-labels {
  text-anchor: end;
}

.graph {
  height: 40rem;
  width: 55rem;
}

.graph .grid {
  stroke: var(--light-grey);
  stroke-dasharray: 0;
  stroke-width: 1;
}

.data {
  fill: var(--purple);
  stroke-width: 1;
}

.main-progress-statistics-habits-list {

  & li::before {
    background-color: var(--purple);
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    position: relative;
    top: 3.5rem;
  }

  & li:first-of-type::before {
    content: '1';
    width: 5rem;
    height: 5rem;
    left: -8rem;
    font-size: 2.6rem;
  }

  & li:nth-of-type(2)::before {
    content: '2';
    width: 4rem;
    left: -7.5rem;
    height: 4rem;
  }

  & li:nth-of-type(3)::before {
    content: '3';
    width: 3rem;
    height: 3rem;
    left: -7rem;
    font-size: 1.8rem;
  }
}

.main-progress-statistics-habits-list li {
  margin: 0 0 0 10rem;

  & h4 {
    font-weight: bold;
    text-transform: lowercase;
    margin-bottom: .5rem;
  }

  & p {
    font-family: 'FreightSans Pro', Arial, Helvetica, sans-serif;
    color: var(--grey);
    font-size: 1.8rem;
  }
}

/* progress achievements */

.main-progress-achievements-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 17rem);
  grid-gap: 2.5rem;
  margin: 2.5rem 5vw;
  justify-content: center;
}

.achievements-list-item {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--light-grey);
  border-radius: 1.2rem;
}

.achievement-list-item-unlocked {
  border: .15rem solid #2b2b2b;
  background-color: white;
}

.achievements-list-item-svg {
  width: 100%;
  height: 100%;
}

.achievements-list-item-title, .achievements-list-item-desc {
  font-size: 1.8rem;
}

.achievements-list-item-title {
  font-weight: bold;
  padding-top: 2.5rem;
}

.achievements-list-item-desc {
  font-family: 'FreightSans Pro', Arial, Helvetica, sans-serif;
  padding: 1rem 2.5rem 0;
}

/* progress goals */

.main-progress-goals {
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-areas:
    '. nav nav .'
    '. content content .';
}

.main-progress-goals-edit, .info-form-submit {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--black);
  color: white;
  text-align: center;
  padding: 4rem 8rem;
  border-top-left-radius: 4rem;
  display: flex;
  flex-direction: row-reverse;
}

.main-progress-goals-edit svg {
  margin-right: 1rem;
}

.main-progress-goals-nav {
  grid-area: nav;
}

.main-progress-goals-in-progress, .main-progress-goals-completed {
  grid-area: content;
  width: 50%;
  justify-self: center;
}

.goals-nav-list, .statistics-nav-list {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  padding: 2.5rem 0;
}

.goals-nav-list-item-link-active, .statistics-nav-list-item-link-active {
  padding-bottom: 1rem;
  background-image: url(../assets/img/Rectangle.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
}

/* profile info */

.main-profile-info-form {
  display: grid;
  grid-template: 2fr 2fr 2fr / 1fr 3fr 3fr 1fr;
  grid-row-gap: 6.5rem;
  grid-column-gap: 2.5rem;
  grid-template-areas:
    '. email birthday .'
    '. username password .'
    '. goals goals .';
  margin-top: 4.5rem;
}

.info-form-email {
  grid-area: email;
}

.info-form-birthday {
  grid-area: birthday;
}

.info-form-username {
  grid-area: username;
}

.info-form-password {
  grid-area: password;
  align-items: flex-start;

  & .info-form-password-link {
    text-align: center;
    padding-bottom: 2rem;
    background-image: url(../assets/img/Rectangle.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
  }
}

.info-form-goals {
  grid-area: goals;
}

.info-form-submit {
  grid-area: submit;
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;

  & span {
    margin: 0 2rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.info-form-submit-button {
  display: none;
}

.info-form-input, .add-habit-form-input-text {
  height: 5rem;
  font-family: 'FreightSans Pro', Arial, Helvetica, sans-serif;
  border: none;
  border-bottom: .15rem solid var(--black);
}

.info-form-label-text {
  color: var(--grey);
}

.info-form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info-form-goals-options, .add-habit-form-field-all {
  display: flex;
  flex-wrap: wrap;
}

.info-form-goals-option, .add-habit-form-label {
  font-size: 1.8rem;
  border: .15rem solid var(--black);
  border-radius: 1.2rem;
  padding: 1.5rem 2rem;
  margin-right: 1rem;
  margin-top: 1rem;

  &:hover {
    cursor: pointer;
  }
}

.info-form-goals-radio:focus + .info-form-goals-option,
.info-form-goals-radio:checked + .info-form-goals-option,
.add-habit-form-radio:focus + .add-habit-form-label,
.add-habit-form-radio:checked + .add-habit-form-label {
  background-color: var(--black);
  color: white;
}

/* profile customize */

.main-profile-customize {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-profile-customize-habits, .main-profile-customize-goals {
  width: 100%;
  min-width: 20rem;
  max-width: 50rem;
  margin: 0 2.5rem;
}

.customize-habits-title, .customize-goals-title, .add-habit-form-field-legend, .add-day-form-field-legend, .statistics-mood-title, .statistics-habits-title {
  margin: 2.5rem 0;
  color: var(--light-grey);
  font-size: 5.6rem;
  text-transform: lowercase;
  font-weight: bold;
}

.customize-habits-title, .customize-goals-title {
  text-align: center;
}

/* profile customize add habit */

.main-profile-add-habit, .main-profile-add-goal {
  position: relative;
}

.main-profile-add-habit-title, .main-profile-add-goal-title, .main-overview-add-title {
  text-align: center;
  font-size: 3.6rem;
  font-weight: bold;
}

.main-overview-add-title {
  padding-top: 2rem;
}

.main-profile-add-habit-subtitle, .main-profile-add-goal-subtitle, .main-overview-add-subtitle {
  font-family: 'FreightSans Pro', Arial, Helvetica, sans-serif;
  text-align: center;
  width: 20rem;
  margin: 0 auto;
  padding: 1.5rem 0 4rem;
}

.main-profile-add-habit-back, .main-profile-add-goal-back, .main-overview-add-back {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--light-grey);
  text-align: center;
  padding: 2.5rem 5rem;
  border-bottom-right-radius: 4rem;
}

.main-profile-add-habit-error {
  text-align: center;
}

.main-profile-add-habit-form {
  padding-top: 2.5rem;
  margin-bottom: 10rem;
  display: grid;
  grid-template: repeat(2, min-content) / 1fr 3fr 3fr 1fr;
  grid-gap: 2.5rem;
  grid-template-areas:
    '. suggested write .'
    '. all all submit';
}

.add-habit-suggested {
  grid-area: suggested;
}

.add-habit-write {
  grid-area: write;
}

.add-habit-all {
  grid-area: all;
}

.add-habit-form-submit, .add-goal-form-submit {
  grid-area: submit;
  align-self: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--black);
  color: white;
  text-align: center;
  padding: 2.5rem 7rem;
  border-bottom-left-radius: 4rem;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.add-habit-form-submit-button {
  display: none;
}

.add-goal-form-submit-button {
  display: none;
}

.main-profile-add-habit-form-shape {
  display: flex;
  flex-direction: column;
  margin: 2.5rem 15rem;
}

/* customize add goals */

.main-profile-add-goal-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5rem;
}

.add-goal-type a {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: .25rem solid var(--black);
  border-radius: 1.2rem;
  padding: 5rem 1rem;
  width: 30rem;
  margin: 2.5rem;
  text-align: center;
}

.add-goal-type-title {
  margin-top: 2.5rem;
  font-size: 2.2rem;
  font-weight: bold;
}

.add-goal-type-subtitle {
  padding-top: 1rem;
  font-family: 'FreightSans Pro', Arial, Helvetica, sans-serif;
}

.add-goal-type-subtitle-abbr {
  color: var(--grey);
}

.add-goal-type-subtitle-habitname, strong {
  font-weight: 600;
}

.main-profile-add-goal-text {
  font-size: 3.6rem;
  text-align: center;
  padding: 5rem 0;
}

.add-goal-form-field-legend {
  display: none;
}

.add-goal-repetitive-day-label, .add-goal-repetitive-month-label, .add-goal-total-month-label {
  padding: 1rem;
  border-radius: 1.2rem;
  border: .25rem solid var(--black);
  margin-right: 1rem;
  margin-bottom: 1rem;

  &:hover {
    cursor: pointer;
  }
}

.add-goal-repetitive-day-radio:focus + .add-goal-repetitive-day-label,
.add-goal-repetitive-day-radio:checked + .add-goal-repetitive-day-label {
  background-color: var(--red);
  color: white;
  border: .25rem solid var(--red);
}

.add-goal-repetitive-month-radio:focus + .add-goal-repetitive-month-label,
.add-goal-repetitive-month-radio:checked + .add-goal-repetitive-month-label,
.add-goal-total-month-radio:focus + .add-goal-total-month-label,
.add-goal-total-month-radio:checked + .add-goal-total-month-label {
  background-color: var(--orange);
  color: white;
  border: .25rem solid var(--orange);
}

.add-goal-form-field-month {
  margin-top: 5rem;
}

.add-goal-form-field-stepper {
  display: flex;
  justify-content: center;
}

.repetitive-day, .streak-amount, .total-amount {
  color: var(--red);
}

.repetitive-month, .total-month {
  color: var(--orange);
}

/* profile links */

.main-profile-links-sites {
  display: grid;
  grid-template: repeat(2, min-content) / 1fr 3fr 3fr 1fr;
  grid-gap: 2.5rem;
  grid-template-areas:
    '. jac awel .'
    '. cgg tejo .';
  margin-bottom: 8rem;
  margin-top: 2.5rem;
}

.links-sites-article-arrow {
  margin-left: .5rem;
}

.links-sites-article-link {
  display: flex;
  align-items: center;

  &:hover .links-sites-article-arrow {
    transform: translate(.25rem, -.25rem);
  }
}

.site-jac {
  grid-area: jac;
}

.site-jac-title {
  color: var(--red);
}

.site-awel {
  grid-area: awel;
}

.site-awel-title {
  color: var(--orange);
}

.site-cgg {
  grid-area: cgg;
}

.site-cgg-title {
  color: var(--green);
}

.site-tejo {
  grid-area: tejo;
}

.site-tejo-title {
  color: var(--blue);
}

.site-jac, .site-awel, .site-cgg, .site-tejo {
  border-bottom: .2rem solid rgba(43, 43, 43, .2);
  padding: 4rem 2rem;
}

.site-jac-title, .site-awel-title, .site-cgg-title, .site-tejo-title {
  font-size: 2.2rem;
  font-weight: bold;
}

.links-sites-article-text {
  font-family: 'FreightSans Pro', Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  padding-top: 1rem;
  max-width: 40rem;
}

.main-profile-links-phone {
  display: grid;
  grid-template: repeat(2, min-content) / 1fr 1.5fr 1.5fr 3fr 1fr;
  grid-gap: 2.5rem;
  grid-template-areas:
    '. geweld awel zelfmoordlijn .'
    '. druglijn druglijn teleonthaal .';
}

.main-pofile-links-phone-article {
  display: flex;
  border: .15rem solid var(--black);
  border-radius: 1.2rem;
  padding: 1.5rem;
}

.phone-geweld {
  grid-area: geweld;
}

.phone-awel {
  grid-area: awel;
}

.phone-zelfmoordlijn {
  grid-area: zelfmoordlijn;
}

.phone-druglijn {
  grid-area: druglijn;
}

.phone-teleonthaal {
  grid-area: teleonthaal;
}

.links-phone-article-title, .links-phone-article-tel {
  font-size: 2.2rem;
  font-weight: 500;
}

.links-phone-article-tel {
  padding-left: 1rem;
  color: var(--grey);
  font-weight: 300;
}

/* responsive */

@media only screen and (max-width: 1000px) {

  .main-overview-day {
    grid-template: 1fr 3fr / .5fr 3fr 3fr .5fr;
  }

  .main-green-button {

    width: 10rem;

    & span {
      display: none;
    }
  }

  .main-progress-statistics {
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-areas:
      '. nav .'
      '. mood .'
      '. habits .';
  }

  .main-progress-statistics-habits {
    margin-left: 0;
    margin-bottom: 15rem;

    & p {
      text-align: center;
    }
  }

  .main-progress-statistics-habits-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-profile-info-form {
    grid-row-gap: 2rem;
  }
}

@media only screen and (max-width: 700px) {

  .main-overview-day {
    display: grid;
    grid-template: 1fr 10fr / .5fr 1fr 1fr .5fr;
    min-height: auto;
    grid-column-gap: 0;

    & .main-overview-day-previous {
      grid-row: 1;
      grid-column: 1;
    }

    & .main-overview-day-next {
      grid-row: 1;
      grid-column: 4;
    }

    & .main-overview-day-date-mobile {
      display: block;
      grid-column: 2 / 4;
      grid-row: 1;
      align-self: center;
      justify-self: center;
    }
  }

  .main-overview-day-open-modal {
    display: block;
    position: fixed;
  }

  .main-overview-day-collage {
    grid-row: 2;
    grid-column: 1 / 5;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    & svg {
      width: 100%;
      max-width: 46rem;
      height: auto;
    }
  }

  .main-overview-day-info {
    grid-row: 2;
    grid-column: 1 / 5;
    opacity: 0;
    pointer-events: none;

    &:target {
      opacity: 1;
      pointer-events: auto;
    }

    & > div {
      padding-top: 0;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: white;
      color: black;
    }

    & .day-info-date {
      display: none;
    }
  }

  .header-title {
    display: none;
  }

  .header-nav {
    background-color: transparent;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100vw;
    font-size: 1.4rem;
    height: 7.5rem;

    & .header-nav-ul {
      width: 100vw;
      padding: 2rem;
      justify-content: space-around;
      background-color: var(--light-grey);
      border-bottom-right-radius: 0;
      border-top-right-radius: 4rem;
    }

    & a {
      flex-direction: column;
      align-items: center;
    }

    & svg {
      margin: 0 0 1rem 0;
    }
  }

  .nav-no-login {
    display: none;
  }

  .header-nav-item-icon {
    stroke-width: .15rem;
  }

  .landing-back {
    display: inherit;
  }

  .main-profile-add-habit-back, .main-profile-add-goal-back, .main-overview-add-back {
    padding: 2.5rem 3rem;
    border-bottom-right-radius: 2rem;
  }

  .login-form {
    padding: .2fr;
  }

  .overal-goals {
    flex-direction: column;
    align-items: center;
  }

  .main-green-button {
    display: none;
  }

  .main-green-button.main-green-button-overview {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: -1;
    right: 0;
    padding: 2.75rem 7.5rem 8rem;
    border-top-left-radius: 2rem;

    & svg {
      width: 3.5rem;
      height: 3.5rem;
      margin-left: -1rem;
    }
  }

  .main-overview-month {
    margin-top: 2rem;
    grid-template: min-content 1fr min-content / 1fr 30rem 1fr;
    grid-column-gap: 0;
    grid-template-areas: '. nav .' '. calendar .' '. habits .' '. info .';
  }

  .month-calendar-row-day {
    width: 20rem;
  }

  .main-overview-month-form {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-overview-month-form .month-habit-item-name {
    display: none;
  }

  .main-overview-month-form .month-form-label {
    padding: 1rem;
    height: 5rem;
    display: flex;
    justify-content: center;

    & svg {
      margin: 0;
    }
  }

  .main-profile-add-habit-title, .main-profile-add-goal-title, .main-overview-add-title {
    font-size: 2rem;
  }

  .main-profile-add-habit-subtitle, .main-profile-add-goal-subtitle, .main-overview-add-subtitle {
    font-size: 1.6rem;
    padding: .5rem 0 3rem;
  }

  .add-day-form {
    grid-template: 1fr / 1fr 6fr 1fr;
    grid-gap: 2.5rem;
    grid-template-areas: '. mood .' '. about .' '. habits .';
  }

  .add-day-form-field-legend {
    margin: -1.5rem 0;
    font-size: 4.2rem;
  }

  .add-day-form-field-textarea {
    background-image: linear-gradient(transparent, transparent 2.5rem, whitesmoke 2.5rem, whitesmoke 2.6rem, transparent 2.5rem);    background-size: 100% 3.1rem;
    line-height: 2rem;
    font-size: 1.6rem;
  }

  .add-day-form-submit {
    background-color: var(--green);
    top: 0;
    padding: 4rem;
    border-bottom-left-radius: 2rem;

    & span {
      display: none;
    }
  }

  .graph {
    height: 35rem;
  }

  .customize-habits-title, .customize-goals-title {
    margin-bottom: -2rem;
    position: relative;
    z-index: -5000;
  }

  .customize-goals-list {
    margin-bottom: 10rem;
  }

  .customize-goals-list span, .customize-habits-list span {
    font-size: 1.6rem;
  }

  .customize-habits-list-item-icon svg {
    width: 2rem;
    height: 2rem;
  }

  .info-form-submit {
    position: fixed;
    padding: 3.75rem 7.5rem 10rem;
  }

  .main-profile-info-form {
    display: grid;
    grid-template: repeat(5, 6rem) / .2fr 6fr .2fr;
    grid-template-areas: '. email .' '. birthday .' '. username .' '. password .' '. goals .';
    margin-top: 2.5rem;
    font-size: 1.6rem;

    & .info-form-label-text {
      font-weight: normal;
    }

    & .info-form-input {
      border-bottom: .1rem solid #2b2b2b;
      stroke-linecap: round;
    }
  }

  .info-form-goals-option {
    border: .1rem solid #2b2b2b;
    font-size: 1.4rem;
    font-weight: normal;
  }

  .info-form-goals-options {
    margin-top: 1rem;
  }

  .main-profile-links-sites {
    grid-template: repeat(4, min-content) / .2fr 6fr .2fr;
    grid-gap: .5rem;
    grid-template-areas:
      '. jac .'
      '. awel .'
      '. cgg .'
      '. tejo .';
    margin-bottom: 2rem;
    margin-top: 1rem;

    & article {
      border-width: .1rem;
      padding: 1.8rem;
    }

    & h3 {
      font-size: 1.8rem;
    }

    & p {
      font-size: 1.6rem;
    }
  }

  .main-profile-links-phone {
    display: grid;
    grid-template: repeat(4, 4rem) / .2fr 3fr 3fr .2fr;
    grid-gap: 1rem;
    grid-template-areas:
      '. geweld awel .'
      '. druglijn druglijn .'
      '. zelfmoordlijn zelfmoordlijn .'
      '. teleonthaal teleonthaal .';

    & article {
      padding: 0 1rem;
      display: flex;
      align-items: center;
    }

    & .main-pofile-links-phone-article {
      border: .1rem solid var(--black);
    }

    & .links-phone-article-title {
      font-weight: normal;
      font-size: 1.6rem;
    }

    & .links-phone-article-tel {
      font-weight: normal;
      font-size: 1.6rem;
    }
  }
}
